.container {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.title {
    font-weight: bold;
}

.content {
    display: flex;
    gap: 50px;
}

.value {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    border-bottom: 1px solid black;
    padding: 10px 0;
}

@media (max-width:950px) {
    .content {
        flex-direction: column;
    }
}