.container {
    margin-top: 100px ;
}

.basket {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.purchase {
    max-height: 120px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.info {
    display: flex;
    gap: 10px;
}

.info p {
    font-weight: bold;
}

.modal__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 10px 50px;
}

.content {
    display: flex;
    gap: 20px;
}

.method {
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    cursor: pointer;
}

.method:hover {
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.2);
}

.method.active {
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width:950px) {
    .basket {
        flex-direction: column;
        gap: 30px;
    }
    .purchase {
        order: 0;
        flex-direction: row;
        justify-content: space-around;
    }
    .product{
        order: 1;
        align-items: center;
    }
    .basket {
        padding: 10px 20px;
    }
}