.container {
    max-width: 100%;
}

.card {
    width: 100%;
    display: flex;
    gap: 50px;
}

.img {
    width: 150px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text {
    display: flex;
    gap: 10px;
    max-width: 150px;
}

.text p {
    font-weight: bold;
}

.btn__delete {
    display: flex;
    flex-direction: column;
   justify-content: center;
}