.container {
    margin-top: 100px ;
}

.basket {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.purchase {
    border: 1px solid black;
    height: 100%;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.info {
    display: flex;
    gap: 10px;
}

.info p {
    font-weight: bold;
}

.modal__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 10px 50px;
}

.content {
    display: flex;
    gap: 20px;
}

.method {
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    cursor: pointer;
}

.method:hover {
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.2);
}

.method.active {
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.2);
}